<h1 class="text-center">Welcome to Cargo Booking</h1>

  <br><br><br>

<div class="text-center">
  Click Down To Login as Driver : <a href="/drivers/sign_in" class="btn btn-primary">Driver</a>
  <br><br><br>

  Click Down To Login as Customer : <a href="/customers/sign_in" class="btn btn-primary">Customer</a>
</div>
